.calendar-wrapper-calendar{

    .calendar-has-event{
        .calendar-event{
            background-color: #06784b;
            color: $white;
            display: block;
            font-size: 11px;
    
            i{
                display: block;
                font-style: normal;
                line-height: 1.2;
                &:first-child{
                    padding: 5px 0 0;
                }
                &:nth-child(2n){
                    font-size: 8px;
                }
                &:last-child{
                    padding: 0 0 2px;
                }
            }
        }
        &.calendar-cell-disable-prev-month, &.calendar-cell-disable-next-month{
            .calendar-event{
                opacity: 0.6;
            }
        }
        &.calendar-cell-disable-less-today{
            .calendar-event{
                background-color: $gray-700!important;
            }
        }
    }
    .calendar-event{
        display: block;
        background-color: #ededed;
        width: 100%;
        min-height: 45px;

        &.event-over{
            background-color: #fc6536;
        }
        // &.event-new{
        //     background-color: $custom-green;
        // }
        // &.event-update{
        //     background-color: $custom-brown;
        // }
        &.type-job1{
            background-color: rgb(6, 120, 75);;
        }
        &.type-job2{
            background-color: #4169e1  ;
        }
        &.type-job1-2{
            background-color: #ffd700;
        }
    }
}