.modal-open .calendar-wrapper-calendar{
    &:after{
        display: block;
        content: ".";
        color: transparent;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
    }
}

.calendar-modal{
    background-color: $white;
    -webkit-box-shadow: 0 0 10px #000;
    -moz-box-shadow: 0 0 10px #000;
    -o-box-shadow: 0 0 10px #000;
    -ms-box-shadow: 0 0 10px #000;
    box-shadow: 0 0 10px #000;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    left: 15px;
    right: 15px;
    top: 50%;
    z-index: 1111;
    @include render-transform(translateY(-50%));

    .calendar-modal-header{
        position: relative;
        font-weight: bold;
        font-size: 15px;
        min-height: 30px;

        .time-close{
            background-color: transparent;
            font-size: 15px;
            font-weight: bold;
            border: none;
            outline: none;
            cursor: pointer;
            position: absolute;
            min-width: 30px;
            min-height: 30px;
            line-height: 1;
            top: 0;right: 0;
        }
    }
    .calendar--wrapper__input{
        text-align: center;
        input{
            width: 45px;
            padding: 5px;
            outline: none;
            border: 1px solid $gray-400;

            &:hover, &:focus{
                border: 1px solid $custom-primary-color-dark;
            }
        }
        span{
            padding: 0 5px;
        }
    }
    #js-modal-button-new{
        background-color: #fcd036;
        color: #000;
        border: none;
        outline: none;
        font-size: 18px;
        width: 100%;
        padding: 10px;
        font-weight: bold;
        cursor: pointer;
    }
    #js-modal-button-edit{
        background-color: #2dc187;
        color: #000;
        border: none;
        outline: none;
        font-size: 18px;
        width: 48%;
        margin-right: 2%;
        padding: 10px;
        font-weight: bold;
        cursor: pointer;
    }
    #js-modal-button-delete{
        background-color: #c9c9c9;
        color: #000;
        border: none;
        outline: none;
        font-size: 18px;
        width: 48%;
        margin-left: 2%;
        padding: 10px;
        font-weight: bold;
        cursor: pointer;
    }
    .js-wrapper-model-viewer-change{
        padding: 10px;

        input{
            width: 40%;
            margin: 0 5%;
            border: 1px solid $gray-400;
        }
        .error{
            color: $custom-red ;
            margin: 0;
            line-height: 1;
            padding-top: 10px;
        }
    }
    .wrapper-button{
        text-align: center;
        display: inline-block;
        width: 100%;
        
        .booking, .goto-login{
            text-decoration: none;
            border: none;
            display: inline-block;
            vertical-align: middle;
            outline: none;
            font-size: 14px;
            width: 45%;
            margin: 2.5%;
            padding: 3px 0 0;
            font-weight: bold;
            text-align: center;
            white-space: normal;
            word-wrap: break-word;
            -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
            -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
            cursor: pointer;
            color: $white;
            background: $custom-primary-color-dark;
            border: 2px solid $custom-primary-color-dark;
            @include btn-interaction($white, color-level($custom-primary-color-dark, -8),$custom-primary-color-dark);

            .progress{
                margin: 0;
            }

            .progress{
                margin: 0;
            }
        }
        .time-close{
            text-decoration: none;
            border: none;
            display: inline-block;
            outline: none;
            vertical-align: middle;
            padding: 3px 0 0;
            font-size: 14px;
            width: 45%;
            margin: 2.5%;
            font-weight: bold;
            text-align: center;
            white-space: normal;
            word-wrap: break-word;
            -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
            -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
            cursor: pointer;
            background: $white;
            color: $gray-600;
            border: 2px solid $gray-600;
            @include btn-interaction($gray-600, color-level($gray-600, -8),$white);
        }
    }
    

    
}
