.footer_container{        background: #ededed;
    background-color: #ededed;
    .container_body{
        height: auto;
        max-width: $container-2;
        margin: 0 auto;
        display: flex;
        align-items: center;
        color: $black-light;
        font-size: 16px;
        .footer-logo{
            height: 100px;
            display: flex;
            align-items: center;
            a {
                .link-img{
                    width: 310px;
                }
            }
            .site-name {
                margin-left: 10px;
                padding-top: 18px;
                align-self: flex-start;
            }
        }
        .footer-link{
            ul {
                li {
                    list-style: none;
                    display: inline;
                    padding-right: 10px;
                    a {
                        text-decoration: none;
                        color: $black-light;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        @media only screen and (max-width: $small_screen){
            flex-direction: column;
            .footer-logo{
                height: 70px;
                padding-top: 10px;
                a {
                    .link-img{
                        width: calc(100vw * 0.7);
                    }
                }
                .site-name {
                    padding-top: 0;
                    margin-top: 10px;
                }
            }
            .footer-link{
                ul {
                    margin: 0;
                    padding: 0  0 10px 10px;
                    li {
                        list-style: none;
                        display: inline-block;
                        text-align: center;

                    }
                }
            }
        }
        @media only screen and(min-width: $small_screen + 1) and (max-width: $medium_screen - 1) {
            flex-direction: column;
            .footer-logo{
                height: 70px;
                padding-top: 10px;
                a {
                    .link-img{
                        width: 260px;
                    }
                }
                .site-name {
                    padding-top: 0;
                    margin-top: 10px;
                }
            }
            .footer-link{
                ul {
                    margin: 0;
                    padding: 0  0 10px 10px;
                    li {
                        list-style: none;
                        display: inline-block;
                        text-align: center;

                    }
                }
            }
        }
    }
    .copyright{
        width: 100%;
        height: 40px;
        background-color: #2dc187;
        font-size: 14px;
        font-weight: lighter;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        &.admin{
            background-color: #3d3d3d;
        }
        .desktop{
            display: block;
        }
        .mobile{
            display: none;
        }
        @media only screen and (max-width: $small_screen){
            font-size: 13px;
            line-height: 16px;
            text-align: center;
            .desktop{
                display: none;
            }
            .mobile{
                display: block;
            }
        }
    }
}
.footer-top-page{
    *,
    &:after,
    &:before {
        box-sizing: content-box!important;
    }
}
