.header_container{
    display: flex;
    flex-direction: column;
    max-width: $container-1;
    .head{
        width: 100%;
        max-width: $container-2;
        margin: 0 auto;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $black-light;
        font-size: 16px;
        font-weight: bold;
        .nav-logo{
            height: 100%;
            width: 310px;
            display: flex;
            align-items: center;
            position: relative;
            a {
                .link-img{
                    padding-top: 28px;
                    width: 100%;
                }
            }
            .site-title{
                position: absolute;
                top: 10px;
                left: 0;
                font-size: 13px;
                line-height: 13px;
                margin: 0;
                padding: 0;
                font-weight: normal;

            }
            .site-name {
                margin-left: 10px;
                padding-top: 16px;
                align-self: flex-start;
                font-size: 16px;
                font-weight: bold;
            }
        }
        .nav-link{
            display: flex;
            height: 100%;
            align-items: center;
            .site-description{
                height: 45px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                margin-right: 10px;
                span{
                    &:first-child{
                        font-size: 16px;
                        line-height: 16px;
                        font-weight: bold;
                    }
                    &:last-child{
                        font-size: 13px;
                        line-height: 13px;
                        font-weight: normal;
                    }
                }
            }
            a {
                text-decoration: none;
                color: $black-light;
                .nav-button-link{
                    display: flex;
                    align-items: center;
                    padding: 15px;
                    border-radius: 10px;
                    margin-left: 10px;
                    span {
                        line-height: 18px;
                        font-size: 16px;
                        color: white;
                        font-weight: bold;

                        text-align: center;
                    }&.contact{
                        background-color: #2dc187;
                        font-weight: bold;
                        &:hover{
                            background-color: #56e6ad;
                        }
                    }
                    &.login{
                        background-color: #c09707;
                        font-weight: bold;
                        &:hover{
                            background-color: #ebc230;
                        }
                    }

                    &.register{
                        background-color: #fc6536;
                        font-weight: bold;
                        &:hover{
                            background-color: #ff9371;
                        }
                    }

                }
            }

            .avatar{
                height: auto;
                display: flex;
                align-items: center;
                .icon-img{
                    margin-right: 5px;
                    width: 40px;
                    height: auto;
                }
                margin-right: 50px;
            }
        }
    }
    .menu{
        max-width: $container-1;
        border-top: 1px solid #2dc187;
        border-bottom: 1px solid #2dc187;
        .menu-container{
            max-width: $container-2;
            margin: 0 auto;
            height: 50px;
            display: flex;
            align-items: center;
            a {
                text-decoration: none;
                margin: 0;
                padding: 0;
                margin-right: 40px;
                line-height: 18px;
                .menu-text{
                    color: #2dc187;
                    font-size: 18px;
                    line-height: 18px;
                    font-weight: bold;
                }
                &:hover{
                    .menu-text{
                        color: #56e6ad;
                    }
                }
            }
        }

    }
    .icon-mobile, .menu-mobile{
        display: none;
    }
    &.admin{
        max-width: $container-1;
        .nav-logo{
            a {
                .link-img{
                    padding-top: 13px;
                    padding-left: 10px;
                }
            }
        }
    }
}

@media only screen and (max-width: $small_screen){
    .header_container{
        .head{
          height: 130px;
          flex-direction: column;
          .nav-logo{
              width: 100%;
              justify-content: center;
              height: 80px;
              a{
                  .link-img{
                      padding-top: 25px;
                      width: calc(100vw * 0.7);
                  }
              }
              .site-title{
                  left: 20px;
                  top:7px;
              }
          }
          .nav-link{
              height: 50px;
              width: 100%;
              .site-description{
                  display: none;
              }
              a{
                  .nav-button-link{
                      border-radius: 0;
                      margin: 0;
                      justify-content: center;
                      span{
                          font-size: calc(100vw * 0.043);
                      }
                  }
                  flex-grow: 1;
              }
          }
        }
        .menu{
            display: none;
        }
        .icon-mobile{
          position: fixed;
          display: block;
          right: 0;
          top: 0;
          color: white;
          background-color: #2dc187;
          padding: 0;
          margin: 0;
          width: 50px;
          height: 50px;
          font-size: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 999;
        }
        .menu-mobile{
          z-index: 888;
          position: fixed;
          top: 49px;
          right: 0;
          width: 100%;
          flex-direction: column;
          background-color: #2dc187;
          .menu-container{
              display: flex;
              flex-direction: column;
              a{
                  color: white;
                  text-decoration: none;
                  border-bottom: 1px solid white;
                  height: 40px;
                  padding-left: 20px;
                  display: flex;
                  align-items: center;
                  .menu-text{
                      font-weight: bold;
                  }
              }
          }
        }
    }
}

@media only screen and(min-width: $small_screen + 1) and (max-width: $medium_screen - 1) {
  .header_container{
      .head{
        height: 130px;
        flex-direction: column;
        .nav-logo{
            width: 100%;
            justify-content: center;
            height: 80px;
            a{
                .link-img{
                    padding-top: 25px;
                    width: 260px;
                }
            }
            .site-title{
                left: 20px;
                top:7px;
            }
        }
        .nav-link{
            height: 50px;
            width: 100%;
            .site-description{
                display: none;
            }
            a{
                .nav-button-link{
                    border-radius: 0;
                    margin: 0;
                    justify-content: center;
                }
                flex-grow: 1;
            }
        }
      }
      .menu{
          display: none;
      }
      .icon-mobile{
        position: fixed;
        display: block;
        right: 0;
        top: 0;
        color: white;
        background-color: #2dc187;
        padding: 0;
        margin: 0;
        width: 50px;
        height: 50px;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
      }
      .menu-mobile{
        z-index: 888;
        position: fixed;
        top: 49px;
        right: 0;
        width: 100%;
        flex-direction: column;
        background-color: #2dc187;
        .menu-container{
            display: flex;
            flex-direction: column;
            a{
                color: white;
                text-decoration: none;
                border-bottom: 1px solid white;
                height: 40px;
                padding-left: 20px;
                display: flex;
                align-items: center;
                .menu-text{
                    font-weight: bold;
                }
            }
        }
      }
  }
}

.header-top-page{
    *,
    &:after,
    &:before {
        box-sizing: content-box!important;
    }
}
.header_container_admin{
    height: 70px;
    margin: 0 auto;
    max-width: $container-2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $black-light;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #cccccc;
    .nav-logo{
        height: 100%;
        width: 300px;
        display: flex;
        align-items: center;
        position: relative;
        a {
            .link-img{
                padding-top: 25px;
                width: 230px;
            }
        }
        .site-title{
            position: absolute;
            top: 5px;
            left: 0;
            font-size: 13px;
            line-height: 12px;
            margin: 0;
            padding: 0;
            font-weight: normal;

        }
        .site-name {
            margin-left: 10px;
            padding-top: 16px;
            align-self: flex-start;
            font-size: 16px;
            font-weight: bold;
        }
    }
    .nav-link{
        display: flex;
        height: 100%;
        a {
            border-left: 1px solid #cccccc;
            text-decoration: none;
            color: $black-light;
            .nav-button-link{
                height: 100%;
                width: 120px;
                padding: 0;
                display: flex;
                justify-content: space-around;
                align-items: center;
                font-weight: normal;
                span {
                    line-height: 18px;
                    text-align: center;
                }
                span.nav-text.mobile{
                    display: none;
                }
                .icon-img{
                    width: 25px;
                }
                .icon-img.username {
                    width: 27px;
                    height: 33px;
                }
                .icon-img.flow{
                    width: 32px;
                }
                .icon-img.faq{
                    width: 28px;
                }
                .icon-img.adv{
                    width: 28px;
                }
                &.register{
                    background-color: #fc6536;
                    font-weight: bold;
                }
                &.login{
                    background-color: #fcd036;
                    font-weight: bold;
                }
            }
        }

        .avatar{
            height: auto;
            display: flex;
            align-items: center;
            .icon-img{
                margin-right: 5px;
                width: 40px;
                height: auto;
            }
            margin-right: 50px;
        }
    }
    .icon-mobile, .menu-mobile{
        display: none;
    }
    &.admin{
        max-width: $container-1;
        .nav-logo{
            a {
                .link-img{
                    padding-top: 13px;
                    padding-left: 10px;
                }
            }
        }
    }
}
